# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build output
dist/
build/

# Mac system files
.DS_Store

# Cypress files (optional)
cypress/videos/
cypress/screenshots/

# VS Code settings
.vscode/